input, #start, #stop {
  display: none;
}

.on,
.off {
  position: absolute;
  text-align: center;
  -webkit-text-shadow: inset 1px 1px 1px black;
  width: 100%;
}
.on {
  color: #bbb;
  top: 10px;
  -webkit-transition: all 0.1s;
  font-family: sans-serif;
}
.off {
  bottom: 5px;
  -webkit-transition: all 0.1s;
  transform: scaleY(0.85);
}

.but {
  background-color: #272727;
  border-radius: 400px 400px 400px 400px / 400px 400px 300px 300px;
  border-bottom-width: 0px;
  box-shadow: inset 8px 6px 5px -7px rgba(0, 0, 0, 1),
    inset -8px 6px 5px -7px rgba(0, 0, 0, 1),
    inset 0 -3px 2px -2px rgba(200, 200, 200, 0.5),
    0 3px 3px -2px rgba(0, 0, 0, 1),
    inset 0 -230px 60px -200px rgba(255, 255, 255, 0.2),
    inset 0 220px 40px -200px rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 27px;
  height: 178px;
  position: relative;
  -webkit-transition: all 0.2s;
  width: 200px;
}

.back {
  background-color: black;
  background-image: -webkit-linear-gradient(
      0deg,
      transparent 30%,
      transparent 70%
    ),
    -webkit-linear-gradient(0deg, rgba(150, 150, 150, 0) 30%, rgba(
            150,
            150,
            150,
            0.1
          )
          50%, rgba(150, 150, 150, 0) 70%);
  border-radius: 105px;
  box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.3),
    -30px 30px 30px -20px rgba(0, 0, 0, 0.3), 0 30px 30px 0px rgba(0, 0, 0, 0.3),
    inset 0 -1px 0 0 #333;
  box-sizing: border-box;
  height: 210px;
  padding: 4px 4px;
  -webkit-transition: all 0.2s;
  width: 210px;
}

.round {
  background: black;
  background: -webkit-linear-gradient(270deg, #444, #222);
  border-radius: 130px;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.1),
    0px 0px 3px 1px rgba(0, 0, 0, 1),
    inset 0 8px 3px -8px rgba(255, 255, 255, 0.4);
  height: 260px;
  margin: 30px auto;
  padding: 25px;
  width: 260px;
}

input:checked + .back .on,
input:checked + .back .off {
  text-shadow: inset 1px 1px 1px black;
}

input:checked + .back .on {
  color: #999;
  top: 10px;
  -webkit-transform: scaleY(0.85);
}

input:checked + .back .off {
  color: #bbb;
  bottom: 5px;
  -webkit-transform: scaleY(1);
}

input:checked + .back .but {
  background: #232323;
  background-image: -webkit-radial-gradient(
    50% 15%,
    circle closest-corner,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
  border-radius: 400px 400px 400px 400px / 300px 300px 400px 400px;
  box-shadow: inset 8px -4px 5px -7px rgba(0, 0, 0, 1),
    inset -8px -4px 5px -7px rgba(0, 0, 0, 1),
    0 -3px 8px -4px rgba(250, 250, 250, 0.4),
    inset 0 3px 4px -2px rgba(10, 10, 10, 1),
    inset 0 280px 40px -200px rgba(0, 0, 0, 0.2),
    inset 0 -200px 40px -200px rgba(180, 180, 180, 0.2);
  margin-top: 20px;
}

input:checked + .back {
  background-image: -webkit-linear-gradient(90deg, black 30%, transparent 70%),
    -webkit-linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(
            250,
            250,
            250,
            0.4
          )
          50%, rgba(150, 150, 150, 0) 100%);
  box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, 0.1),
    -30px 30px 30px -20px rgba(0, 0, 0, 0.1), 0 30px 30px 0px rgba(0, 0, 0, 0.2),
    inset 0 1px 2px 0 rgba(0, 0, 0, 0.6);
  padding: 2px 4px;
}

.l,
.r {
  margin: 0 auto;
  text-align: center;
}

.round,
#onoff,
.back,
.but,
.on,
.off {
  user-select: none;
}


/* Matrix */
body {
	margin: 0;
	overflow: hidden;
	background-color: black;
}
#matrix {
	position: absolute;
	top: 0;
	left: 0;
	color: green;
	font-family: monospace;
	font-size: 16px;
	width: 100%;
	height: 100%;
	line-height: 20px; /* Adjust line height to match font size */
}
#container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px; /* Adjust the height of the container */
	/* background-color: rgba(255,255,255,0.5); Transparent white (adjust alpha value as needed) */
}
/* Matrix */

body {
  background: #000000;
  font-family: sans-serif;
	color:white;
}

.upper{
	display: flex;
	justify-content:space-around;
	align-items: center;
}

.refresh{
	display: none;
	justify-content: center;
	align-items: center;
}

.refresh a{
	position: absolute;
	z-index: 99999999;
	text-decoration: none;
	font-size:100px;
	color:#00ff62
}

.wrapper {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
	position: relative;
}

.names {
  display: none;
	color: #00ff62;
  font-size: 40px;
  height: 50px;
  overflow: hidden;
  font-family: monospace;
}

.name {
  font-size: 40px;
	color: #00ff62;
  height: 50px;
}

.names div {
  height: 50px;
  text-transform: uppercase;
  transition: margin-top 3s;
}

.winner{
	position: absolute;
	z-index: 9999;
	left: 32%;
}

.img{
	width: 200px;
	height: 200px;
	text-align: center;
}



@keyframes fadeInsideBox {
	0%{
		opacity: 1;
		/* transform: scale3d(1, 1, 1); */
		/* transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); */
	}
	100%{
		opacity: 0;
		margin-top: 350px;
		transform: perspective(370px) scale3d(0.1, 1, 5);
		/* transform: scale3d(0.08, 0.1, 0.1) translate3d(100px, 1800px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); */
	}
}

.go-inside{
	animation-name: fadeInsideBox;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

.photo{
	animation-name: photo;
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode: both;
}


@keyframes photo {
	0%{
		transform: scale(1);
		margin-top: -500px;
		/* width: 200px; */
		height: 200px;
	}
	100%{
		transform: scale(0.1);
		margin-top: 0;
		/* width: 50px; */
		height: 50px;
	}
}