*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: sans-serif;
	color: #088b8b;
	/* background-color: black; */
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-container{
	width: 100%;
	height: 100vh;
	/* background-color: black; */
}

.circle-container{
	width: 400px;
	height: 400px;
	background-color: #ddd;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}

.semicircle{
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: right center;
}

.semicircle:nth-child(1){
	background-color: #088b8b;
	z-index: 2;
}

.semicircle:nth-child(2){
	background-color: #088b8b;
	z-index: 3;
}

.semicircle:nth-child(3){
	background-color: #ddd;
	z-index: 4;
}

.outermost-circle{
	width: 390px;
	height: 390px;
	background-color: white;
	border-radius: 50%;
	z-index: 5;
}


/* timer */

.timer-container{
	width: 330px;
	height: 330px;
	z-index: 6;
}

.timer{
	width: 200px;
	height: 500px;
	z-index: 7;
	color: #088b8b;
}

.timer div{
	font-size: 70px;
	font-weight: 100;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}

.timer .colon{
	background-color: transparent;
	width: 10px;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 15px;
}